html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    /** font-size: 9px; Adjust this accordingly based on browser's screen size
    /* 
    The entire page is based on Flexboxes,
    the only thing needed to be adjusted
    for dynamic viewport is the font-size of the
    html and body document 
    */
    font-size: calc(0.75rem + 0.15vw);
}

.flex-container-main{
    display: flex;
    box-sizing: border-box;
    border: 2px solid black;
    width: 40%;
    height: 100%;
}

.flex-container-main-child{
    height: 100%;
}

.info-bar{
    flex: 1;
    background-color: rgb(33, 37, 40);
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

.info-bar p{
    writing-mode: vertical-rl;
    padding-top: 2.5em;
    font-size: 0.8em;
}

.info-bar-p-se{
    flex: 1;
}

.info-bar-p-email{
    flex: 2;
    margin-top: 12em;
}

.content-bar{
    flex: 18;
    display: flex;
    flex-direction: column;
}

.flex-container-main-child-contant-bar{
    width: 100%;
}

.content-bar-top{
    flex: 1.3;
    display: flex;
    background: linear-gradient(to left, rgb(18, 18, 18), rgb(33, 37, 40));
    color: rgb(255, 255, 255);
}

.content-bar-top p{
    font-size: 0.5em;
}

.content-bar-top h3{
    margin: 0;
    font-size: 1.4em;
    padding: 0;
    line-height: 85%;
}

.bar-top-left-container{
    padding: 2.5em 0em 0em 3em;
}

.content-bar-middle{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.content-bar-middle-top{
    margin-left: 2em;
    font-size: 0.5em;
}

.content-bar-middle-bottom{
    margin-left: 4em;
    font-size: 0.6em;
}

.content-bar-bottom{
    padding-top: 1em;
    flex: 2;
    display: flex;
}

.bottom-top-skills{
    font-size: 0.5em;
    margin-left: 2em;
}

.bottom-bottom-experiences{
    font-size: 0.5em;
    margin-left: 2em;
}

.bottom-top-skills_content{
    margin-left: 4em;
    font-size: 0.7em;
}

.bottom-bottom-experiences_content{
    margin-left: 4em;
    font-size: 0.7em;
}

.child-content-bar-top{
    height: 100%;
}

.content-bar-top-left, .content-bar-top-right{
    flex: 1;
}

.content-bar-top-right img{
    width: 100%;
    height: 100%;
}

.content-bar-middle-bottom h1{
    font-size: 1.5em;
}

.content-bar-middle-bottom p{
    line-height: 1.6em;
}